{
    "presets": ["@babel/preset-env", ["@babel/preset-typescript", { "allExtensions": true }]],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@client": "./src/client",
                    "@errors": "./src/errors",
                    "@models": "./src/models",
                    "@utils": "./src/utils"
                }
            }
        ]
    ]
}
